body {
    color: white;
    background: black;
}

section {
    background: rgb(208, 205, 210);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}